<!DOCTYPE html>
<html lang="en">
{%load static%}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static "sources/css/index.css" %}" />
  </head>
  <body>
    <div class="container">
      <p class="title">Drooz</p>
      <p class="tagline">Coffee dose for drivers</p>
      <a href="{% url "detect" %}"> 
        <button class="activate">ACTIVATE</button><br />
      </a>

      <a href="{% url "emergency:home" %}">
        <button class="emergency">Emergency contacts</button>
      </a>
    </div>
  </body>
</html>
